#div-header {
  position: sticky;
  top: 0;
}



#nav-header {
  position: sticky;
  display: flex;
  background-color: #383636;
  color: white;
  font-size: 2rem;
  top: 0;
}

#div-hamburger {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #383636
  /* padding-top: 2rem; */
}
.input-hamburger{
  width: 50px;
  padding-left: 1rem;
  padding-top: .5rem;
  filter: invert(100%);
}
.ul-header {
  display: flex;
  align-items: center;
  flex: 1;
}
.input-link-header {
  width: 30px;
  margin-left: 1rem;
}
#ul-header-links {
  justify-content: flex-end;
  padding-right: 1rem;
}
#li-header-name {
  margin-left: 1rem;
  /* text-align: center; */
}
.ul-nav-desktop {
  display: none;
}
.ul-nav-desktop > * {
  margin-left: .5rem;
  margin-right: .5rem;
}
.a-nav {
  text-decoration: none;
  color: white;
}
.a-nav-hamburger {
  font-size: 2.5rem;
}
.li-nav-hamburger {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}
#ul-hamburger {
  border-top: 1px solid white;
  padding-top: 1rem;
  /* margin-top: 2rem; */
}


@media only screen and (min-width: 700px) {
  .input-hamburger {
    display: none;
  }
  #li-header-name {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .input-link-header {
    width: 3rem;
  }
  .ul-header {
    display: flex;
  }
  .ul-nav-desktop {
    display: flex;
    justify-content: space-evenly;
  }
  
}